.krinkle-mwSnapshots-repos {
	width: 100%;
}

.krinkle-mwSnapshots-repos td.krinkle-mwSnapshots-repo-logo {
	width: 150px;
	border-right: none;
}

.krinkle-mwSnapshots-repos td.krinkle-mwSnapshots-repo-title {
	border-left: none;
}

.krinkle-mwSnapshots-repo-select {
	text-align: center;
}

.krinkle-mwSnapshots-repo-select-submit {
	margin: 2em 0;
}

.krinkle-mwSnapshots-repo-select-submit input[type="submit"] {
	padding: 7px 10px;
	font-size: larger;
}

.krinkle-mwSnapshots-repo-dumpdate {
	font-size: smaller;
	text-align: right;
}

.krinkle-mwSnapshots-download {
	margin-top: 2em;
}
