.krinkle-mwSnapshots-repos-box {
	width: 100%;
}

.krinkle-mwSnapshots-repos-box td.krinkle-mwSnapshots-repo-logo {
	width: 150px;
	border-right: none;
}

.krinkle-mwSnapshots-repos-box td.krinkle-mwSnapshots-repo-title {
	border-left: none;
}

.krinkle-mwSnapshots-repo-select {
	text-align: center;
	margin-bottom: 2em;
}

.krinkle-mwSnapshots-repo-select-submit {
	margin: 2em 0;
}

.krinkle-mwSnapshots-repo-select-submit input[type="submit"] {
	padding: 7px 10px;
	font-size: larger;
}

.JS .krinkle-mwSnapshots-repo-select-submit {
	display: none;
}

.krinkle-mwSnapshots-ajax-loader {
	display: block;
	margin: 0 auto;
	padding: 21px 0 56px 0;
	width: 48px;
	height: 48px;
	background: transparent url(loader-48.gif) no-repeat 50% 50%;
}

.krinkle-mwSnapshots-repo-dumpdate {
	font-size: smaller;
	text-align: right;
}

.krinkle-mwSnapshots-download-box {
	margin-top: 2em;
}

.krinkle-mwSnapshots-download-badge {
	float: right;
	margin: 2em 7em 0 1em;
	text-align: center;
	line-height: 2;
}

.krinkle-mwSnapshots-download-badge button {
	padding: 5px 10px;
	font-weight: bold;
	font-size: larger;
	text-align: center;
}
